.main {
  color: #EEE;

  @include pc {
    padding: 1.5rem 0;
  }
}

.container {
  width: 100%;
  padding: 2rem 1rem;
  margin: 0 auto;

  @include pc {
    width: 760px;
  }
}

.markdown-body {
  background-color: #3c444d !important;
  color: #EEE !important;

  pre {
    background-color: #505B67 !important;
  }
}
