.entry-card {
  width: 100%;
  height: 50px;
  margin: 0 0 10px 0;

  @include pc {
    height: 70px;
    padding: 10px 30px;
  }

  &:hover {
    color: #ff4500;
  }

  .date-text {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }

  .entry-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.3rem;
  }
}
