@import './reset.css';
@import './shared/styles.scss';
@import './components/styles.scss';

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  background-color: #3c444d;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
